[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
awscli-local = "*"
pytest = "*"
pytest-docker-tools = "*"

[packages]
boto3 = "*"
pynsive = "*"
tzlocal = "*"
pandas = "*"
pymongo = "*"
pyyaml = "*"
pytest = "*"
netaddr = "*"
5400915 = {file = "https://github.com/noahmorrison/chevron/archive/master.zip"}

[requires]
python_version = "3.8"
